# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore build output directory
out/*

# Ignore IntelliJ IDEA's workspace setting
.idea/**/*.xml
.idea/workspace.xml
!.idea/**/codeStyleSettings.xml
!.idea/**/copyright/*.xml
!.idea/**/fileColors.xml
!.idea/**/encodings.xml
!.idea/**/gradle.xml
!.idea/**/runConfigurations/*.xml
!.idea/**/inspectionProfiles/*.xml
.idea/**/inspectionProfiles/profiles_settings.xml
!.idea/**/scopes/*.xml
.idea/**/scopes/scope_settings.xml
!.idea/**/templateLanguages.xml
!.idea/**/vcs.xml
