.AnchorPane {
    -fx-background-color: #BEB721;
    -fx-background-image: url('../../../../../../assets/images/titleImage.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.button-rules {
    -fx-text-fill: #FCF8ED;
    -fx-pref-height: 50px;
    -fx-pref-width: 126px;
    -fx-background-color: #d9522b;
    -fx-font-size: 24px;
}

.button-start {
    -fx-text-fill: #FCF8ED;
    -fx-pref-height: 50px;
    -fx-pref-width: 126px;
    -fx-background-color: #d9522b;
    -fx-font-size: 24px;
}